.day-title
    width: 100%

.time-column
    width: 7rem

.day-title--wrapper
    margin-top:10px

.timetable
    tbody
        tr 
            td
                &:not(:last-child)
                    border-right: 1px solid #d0d0d0


.navbar-material
    .nav-wrapper 
        .brand-logo 
            padding-left: 20px

/*
.navbar-material
    height: 130px;
    .nav-wrapper 
        .brand-logo 
            img
                height: calc(-webkit-fill-available - 10px)
                margin: 5px 20px
        ul 
            height: 64px
            margin: 33px 0
*/