.day-title
    width: 100%

.time-column
    width: 3rem

.day-title--wrapper
    margin-top:10px

.timetable
    tbody
        tr 
            td
                &:not(:last-child)
                    border-right: 1px solid #d0d0d0

// 1px solid #d0d0d0